<nav class="light-blue darken-2">
  <div class="nav-wrapper container">
    <span class="brand-logo center">{{title}}</span>
  </div>
</nav>
<div id="dashboard" class="container">
  <div materialize class="row">
    <div class="col s4"><classement [updateBool]="updateBool"></classement></div>
    <div class="col s8"><test-challenge (onUpdate)="onUpdate($event)"></test-challenge></div>
  </div>
</div>