<div class="card horizontal grey lighten-4">
    <div class="card-content" style="width:840px;">
        <div class="left">
        <h4 class="grey-text text-darken-1" style="margin-top:10px;">{{group.name}}</h4>
        
        <form #f="ngForm">
            <p class="valign-wrapper">
                <input type="checkbox" class="filled-in checkbox-blue" id="isTitle-{{group.id}}" name="isTitle" [(ngModel)]="hasTitle" />
                <label for="isTitle-{{group.id}}" style="margin-right:20px;">Titre</label>
                <input type="checkbox" class="filled-in checkbox-blue" id="isSinger-{{group.id}}" name="isSinger" [(ngModel)]="hasSinger" />
                <label for="isSinger-{{group.id}}" style="margin-right:20px;">Chanteur</label>
                <input type="checkbox" class="filled-in checkbox-blue" id="isBonus-{{group.id}}" name="isBonus" [(ngModel)]="hasBonus" />
                <label for="isBonus-{{group.id}}" style="margin-right:20px;">Bonus</label>
                <button type="submit" class="waves-effect waves-light btn light-blue darken-2" (click)="validateResponse()" >OK</button>                
            </p>
        </form>     
        </div>
        <span class="right" *ngIf="responseOk" ><i class="large material-icons green-text text-darken-1">done</i></span>   
        <span class="right" *ngIf="responseKo" ><i class="large material-icons orange-text text-darken-3">report_problem</i></span>   
    </div>
</div>