<h3 class="grey-text text-darken-1">{{title}}</h3>

<div class="card horizontal grey lighten-4" *ngFor="let group of groups" (click)="onSelect(group)">
  <div class="card-content light-blue darken-2">
    <h4 class="grey-text text-lighten-5" style="margin:0px;">{{group.score}}</h4>
  </div>
  <div class="card-content">
    <h4 class="grey-text text-darken-1" style="margin:0px;">{{group.name}}</h4>
  </div>
</div>
<group-details [group]="selectedGroup"></group-details>