    <div *ngIf="group">
     <h2>{{group.name}}</h2>
      <div>
        <label>Id: </label>
        {{group.id}}
      </div>
      <div>
        <label>Score: </label>
        {{group.score}}
      </div>
    </div>