<h3 class="grey-text text-darken-1">Session en cours</h3>
<div id="gestiontest">
    <div class="fixed-action-btn">
        <button class="btn-floating btn-large waves-effect waves-light orange accent-3" (click)="delete()"><i class="material-icons">settings_backup_restore</i></button>
    </div>

</div>

<!--<ul class="responsesBuzz">
    <li *ngFor="let responseBuzz of responsesBuzz" [class.selected]="responseBuzz === selectedResponse">
        <h2>{{responseBuzz.name}} </h2>
        <form #f="ngForm" novalidate>
            <div id="title">
                <input type="checkbox" name="isTitle" [(ngModel)]="buzzGroup.isTitle"> titre
            </div>
            <div id="singer">
                <input type="checkbox" name="isSinger" [(ngModel)]="buzzGroup.isSinger"> chanteur
            </div>
            <div id="bonus">
                <input type="checkbox" name="isBonus" [(ngModel)]="buzzGroup.isBonus"> bonus
            </div>
            <button type="submit" (click)="validateResponse(responseBuzz.id, f.isTitle, f.isSinger, f.isBonus)">OK</button>
        </form>
    </li>
</ul>-->


<buzz *ngFor="let responseBuzz of responsesBuzz" (onUpdateBuzz)="onUpdateBuzz($event)" [group]="responseBuzz">
</buzz>
